.snackbarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.info {
    color: blue;
}