@import "/src/themes.scss";

.card {
    width: 85%;
    overflow: hidden;
    border-radius: 10px;
    margin: 5% auto 10px auto;
}

.header-wrapper {
    width: 100%;
    overflow: auto;
}

.menu {
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-rightFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.table-wrapper{
    width: 100%;
    overflow: auto;
    min-height: 370px;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

@mixin test($width) {
    width: $width;
    min-width: $width;
    max-width: $width;
}
.mat-column-id {
    @include test(70px);
}
.mat-column-name {
    @include test(120px);
}

.mat-column-surname {
    @include test(150px);
}

.mat-column-dateOfBirth {
    @include test(150px);
}

.mat-column-postalCode {
    @include test(100px);
}

.mat-column-phonePrefix {
    @include test(100px);
}

.mat-column-phoneNumber {
    @include test(100px);
}

.mat-column-actions {
    @include test(200px);
}

@media (max-width: 1024px) {
    .header-wrapper {
        flex-direction: row;
    }

    .header-rightFlex {
        flex-direction: row;
    }

    .mat-column-actions {
        border-left: 1px solid #aaaaaa !important;
    }
}

@media (max-width: 450px) {
    .mat-column-actions {
        @include test(100px);
    }

    .card {
        width: 100%;
        margin-top: 0;
        padding: 16px;
        border-radius: unset;
    }

    .header-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .header-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .header-rightFlex {
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .header-rightFlex {
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .table-container {
        margin: 0;
        padding: 0;
    }

    .actions {
        display: none;
    }

    .menu {
        display: block;
    }

    .mat-mdc-card-content {
        padding: 0;
    }
}

// Scrollbar
/* Firefox */
* {
    scrollbar-width: 5px;
    scrollbar-color: map-get($cyan-pallet, 500);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: map-get($cyan-pallet, 500);
    border-radius: 20px;
}
