mat-card {
    width: 85%;
    margin: 0 auto;
    margin-top: 5%;
}

.card {
    padding: 16px;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.table-container {
    overflow: auto;
}

th {
    user-select: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 16px;
}

.header-rightFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

// Angular Material dodaje column te se pojavljuje nepoznat element ispod
.mat-mdc-form-field {
    flex-direction: row;
}

.dim {
    background-color: rgba($color: #000000, $alpha: 0.2);
    pointer-events: none;
}

.menu {
    display: none;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 370px;
}

// @mixin column {
//     width: 11.11% !important;
// }

// .mat-column-id {
//     @include column;
// }

// .mat-column-name {
//     @include column;
// }

// .mat-column-surname {
//     @include column;
// }

// .mat-column-dateOfBirth {
//     @include column;
// }

// .mat-column-street {
//     @include column;
// }

// .mat-column-postalCode {
//     @include column;
// }

// .mat-column-phonePrefix {
//     @include column;
// }

// .mat-column-phone {
//     @include column;
// }

@media (max-width: 1024px) {
    .header-container {
        flex-direction: row;
    }

    .header-rightFlex {
        flex-direction: row;
    }

    .actions {
        display: none;
    }

    .menu {
        display: block;
    }

    // POPRAVAK ZA PAGINATOR DA NEBUDE SCROOLABILAN
    .paginator {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }

    // POPRAVAK ZA STUPAC AKCIJE
    .mat-column-actions {
        position: absolute !important;
        right: 16px !important;
    }

    th:last-child{
        height: inherit;
        line-height: 55px;
    }
}



@media (max-width: 450px) {
    .card {
        width: 100%;
        height: 100%;
        margin-top: 0;
        padding: 16px;
    }

    .header-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .header-rightFlex {
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .table-container {
        margin: 0;
        padding: 0;
    }

    .actions {
        display: none;
    }

    .menu {
        display: block;
    }
}