@import "/src/themes.scss";

.flexc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// mat-form-field {
//     display: block;
//     margin-bottom: 10px; /* Optional: Add some spacing between the fields */
// }  

::ng-deep .mat-vertical-stepper-content {
    // Mora ici !important jer inace Angular to overrida
    visibility: visible !important;
    height: 100% !important;
}

.m-10 {
    margin: 10px 0;
}

.errorMessage {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.dialogContent {
    width: 900px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

@media (max-width: 450px) {
    mat-form-field {
        width: 100%;
    }

    .dialogContent {
        width: 100%;
    }

    .input-wrapper {
        flex-direction: column;
        gap: 10px;
    }
}

// Scrollbar
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: map-get($cyan-pallet, 500);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-thumb {
    background-color: map-get($cyan-pallet, 500);
    border-radius: 20px;
}