.title {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}

.link {
    margin-top: 10px;
    text-decoration: underline;
    color: #1b8488;
    cursor: pointer;

    &:hover {
        color: #3eaeb1;
    }
}

.login-card {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 15%;
}

.errorMessage {
    color: #e04338;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}

@media (max-width: 1024px) {
    .login-card {
        width: 45%;
    }
}

@media (max-width: 450px) {
    .login-card {
        width: 85%;
        margin-top: 60%;
    }
}