<mat-card class="login-card" >
    <mat-card-header style="margin: 0 auto;">
        <mat-card-title class="title">Imenik</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-center">
            @if(isLoading){
                <mat-spinner></mat-spinner>
            }
        </div>
        @if(!isLoading){
        <form class="flex flex-center" style="flex-direction: column;" #formGroup="ngForm" (ngSubmit)="onSubmit(formGroup)">
            <mat-form-field appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input matInput
                        type="text"
                        ngModel
                        name="email"
                        required 
                        email
                        #email="ngModel"
                >
            </mat-form-field>
            @if(isError && errorMessagePosition==1){
                <span class="errorMessage">{{ errorMessageHTML }}</span>
            }
            @if(!email.valid && email.touched){
                <span class="errorMessage">Unesite e-mail ispravnog formata</span>
            }
            <mat-form-field appearance="outline">
                <mat-label>Zaporka</mat-label>
                <input matInput
                        type="password"
                        ngModel
                        name="password" 
                        minlength="6"
                        maxlength="6"
                        required
                        #password="ngModel"
                >
            </mat-form-field>
            @if(isError && errorMessagePosition==2){
                <span class="errorMessage">{{ errorMessageHTML }}</span>
            }
            @if(!password.valid && password.touched){
                <span class="errorMessage">Unesite zaporku ispravnog formata</span>
            }
            <button mat-raised-button
                    color="primary"
                    type="submit"
                    name="submit"
                    [disabled]="!formGroup.valid"    
            >{{ isLoginMode ? 'Prijavi se' : 'Registriraj se' }}</button>
        </form>
    }
        <div class="flex flex-center"> 
            <a class="link" (click)="onSwitchMode()">{{ isLoginMode ? 'Registriraj' : 'Prijavi' }} se</a>
        </div>
        <div class="flex flex-center"> 
            @if(isPasswordResetVisible){
                <a class="link" (click)="sendPRMwMAsync(emailForPasswordReset)" style="text-align: center;">Pošalji zahtjev za reset lozinke na<br>{{emailForPasswordReset}}</a>
            }
        </div>
    </mat-card-content>
</mat-card>
