<mat-toolbar color="primary">
    <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Imenik</span>
    <app-theme-toggle class="lastChild"></app-theme-toggle>
</mat-toolbar>

<mat-sidenav-container [ngStyle]="{'height' : 'calc(100vh - 64px)'}">
    <mat-sidenav mode="side" [opened]="isMenuOpen">
        <div
            style="display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 20px; gap: 10px;">
            <div>Korisnik,</div>
            <a routerLink="/core/user-settings" routerLinkActive="active" class="userSettingsLink">{{ currentUser?.name + ' ' + currentUser?.surname }}</a>
        </div>
        <hr>
        <mat-nav-list class="nav-list">
            <a routerLink="/core" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
                <mat-icon class="nav-icon">perm_identity</mat-icon>
                Kontakti
            </a>
            <a (click)="logout()" class="nav-link">
                <mat-icon class="nav-icon">logout</mat-icon>
                Odjava
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- CHILD ROUTER -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>