<mat-toolbar>
    <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Imenik</span>
    <app-theme-toggle class="lastChild"></app-theme-toggle>
</mat-toolbar>

<mat-sidenav-container [ngStyle]="{'height' : 'calc(100vh - 64px)'}">
    <mat-sidenav mode="side" [opened]="isMenuOpen">
        <mat-nav-list class="nav-list">
            <a routerLink="/core" routerLinkActive="active" class="nav-link">
                <mat-icon class="nav-icon">perm_identity</mat-icon>
                Kontakti
            </a>
            <a (click)="logout()" class="nav-link">
                <mat-icon class="nav-icon">logout</mat-icon>
                Odjava
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- CHILD ROUTER -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>