$primary-color: #c72a68;

.nav-list {
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;
        margin: 1rem 0.5rem;
        padding: 0.5rem 0;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #fff;

        &:hover {
            color: #ccc;
        }

        &.active {
            color: $primary-color;
            border-bottom: 1px solid $primary-color;
        }
    }
}

.lastChild {
    margin-left: auto;
}

.nav-icon {
    width: 20px;
    height: 20px;
}

.userSettingsLink{
    font-weight:500;
    text-decoration: none;
    color: #fff;
    // Mozda janky i mozda se ne smije medutim stavljeno iz razloga sto pri hoveru i activu ostatak komponenti se pomice gore dolje jer se tek tada pojavljuje border
    border-bottom: 1px solid transparent;

    &:hover {
        color: #ccc;
        border-bottom: 1px solid #fff;
    }

    &.active {
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
    }
}