<h2 mat-dialog-title style="display: flex; align-items: center; gap: 10px; margin-top: 10px;">
    <mat-icon>perm_identity</mat-icon>
    Unesi novi kontakt
</h2>
<mat-dialog-content class="dialogContent">
    <mat-vertical-stepper>
        <mat-step label="Osobni podaci" [completed]="isViewOnly">
            <form [formGroup]="PIFormGroup">
                <div class="input-wrapper">
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Ime</mat-label>
                            <input matInput type="text" formControlName="name" required>
                        </mat-form-field>
                        @if(name?.touched && !name?.valid){
                            <mat-error class="errorMessage">Unesite ime ispravnog formata</mat-error>
                        }
                    </div>
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Prezime</mat-label>
                            <input matInput type="text" formControlName="surname" required>
                        </mat-form-field>
                        @if(surname?.touched && !surname?.valid){
                            <mat-error class="errorMessage">Unesite prezime ispravnog formata</mat-error>
                        }
                    </div>
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Datum rođenja</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" [max]="maxDate" date>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        @if(dateOfBirth?.touched && !dateOfBirth?.valid){
                            <mat-error class="errorMessage">Unesite datum ispravnog formata</mat-error>
                        }
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step label="Informacije o lokaciji" [completed]="isViewOnly">
            <form [formGroup]="LIFormGroup">
                <div class="input-wrapper">
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Ulica</mat-label>
                            <input matInput type="text" formControlName="street" required>
                        </mat-form-field>
                        @if(street?.touched && !street?.valid){
                            <mat-error class="errorMessage">Unesite ulicu ispravnog formata</mat-error>
                        }
                    </div>
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Poštanski broj</mat-label>
                            <input matInput type="number" formControlName="postalCode"
                                (input)="limitInputToCharacters($event, 5)" required>
                        </mat-form-field>
                        @if(postalCode?.touched && !postalCode?.valid){
                            <mat-error class="errorMessage">Unesite poštanski broj ispravnog formata</mat-error>
                        }
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step label="Kontakt Informacije" [completed]="isViewOnly">
            <form [formGroup]="CIFormGroup">
                <div class="input-wrapper">
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Predbroj telefona</mat-label>
                            <mat-select formControlName="phonePrefix">
                                <mat-option value="091">091</mat-option>
                                <mat-option value="098">098</mat-option>
                                <mat-option value="099">099</mat-option>
                            </mat-select>
                        </mat-form-field>
                        @if(phonePrefix?.touched && !phonePrefix?.valid){
                            <mat-error class="errorMessage">Unesite predbroj telefona</mat-error>
                        }
                    </div>
                    <div class="input-container">
                        <mat-form-field class="m-10" appearance="outline" subscriptSizing="dynamic">
                            <mat-label>Broj telefona</mat-label>
                            <input matInput type="number" formControlName="phoneNumber"
                                (input)="limitInputToCharacters($event, 7)" required>
                        </mat-form-field>
                        @if(phoneNumber?.touched && !phoneNumber?.valid){
                            <mat-error class="errorMessage">Unesite broj telefona ispravnog formata</mat-error>
                        }
                    </div>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="openCloseDialogAsync()" style="margin-left: auto;">Zatvori</button>
    @if(!isViewOnly || isEditMode){
        <button mat-raised-button color="primary" class="whiteThemeFix" (click)="onSubmitAsync()"
            [disabled]="(isViewOnly && (!PIFormGroup.dirty || !PIFormGroup.valid) && (!LIFormGroup.dirty || !LIFormGroup.valid) && (!CIFormGroup.dirty || !CIFormGroup.valid)) || (!isViewOnly && (!PIFormGroup.valid || !LIFormGroup.valid || !CIFormGroup.valid))"
            >Spremi kontakt</button>
    }
</mat-dialog-actions>