$cyan-pallet: (
    50 : #e8f5f6,
    100 : #c5e7e8,
    200 : #9fd7d8,
    300 : #78c6c8,
    400 : #5bbabd,
    500 : #3eaeb1,
    600 : #38a7aa,
    700 : #309da1,
    800 : #289498,
    900 : #1b8488,
    A100 : #c1fdff,
    A200 : #8efbff,
    A400 : #5bf9ff,
    A700 : #41f8ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$teal-pallet: (
    50 : #e3e7e8,
    100 : #b9c4c5,
    200 : #8b9d9e,
    300 : #5c7677,
    400 : #39585a,
    500 : #163b3d,
    600 : #133537,
    700 : #102d2f,
    800 : #0c2627,
    900 : #06191a,
    A100 : #59f2ff,
    A200 : #26eeff,
    A400 : #00dff2,
    A700 : #00c8d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);






