$cyan-pallet: (
    50 : #e8f5f6,
    100 : #c5e7e8,
    200 : #9fd7d8,
    300 : #78c6c8,
    400 : #5bbabd,
    500 : #3eaeb1,
    600 : #38a7aa,
    700 : #309da1,
    800 : #289498,
    900 : #1b8488,
    A100 : #c1fdff,
    A200 : #8efbff,
    A400 : #5bf9ff,
    A700 : #41f8ff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$teal-pallet: (
    50 : #fffbf5,
    100 : #fff6e5,
    200 : #fff0d4,
    300 : #ffeac2,
    400 : #ffe6b5,
    500 : #ffe1a8,
    600 : #ffdda0,
    700 : #ffd997,
    800 : #ffd58d,
    900 : #ffcd7d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);








