@use '@angular/material' as mat;
@include mat.core();

@import '/src/pallets.scss';

// @import '/node_modules/@angular/material/core/theming/theming';
// @include mat.core();
// @include mat-core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
    color: (
        primary: mat.define-palette($cyan-pallet),
        accent: mat.define-palette($teal-pallet),
    ),
    // Only include `typography` and `density` in the default dark theme.
        typography: mat.define-typography-config(),
        density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
    color: (
        primary: mat.define-palette($cyan-pallet),
        accent: mat.define-palette($teal-pallet),
    ),
));

$my-theme: $dark-theme;

mat-slide-toggle label {
    color: black !important;
}

// @include angular-material-theme($my-theme);
@include mat.all-component-themes($my-theme);

.alternative {
    background-color: #fff;
    $my-theme: $light-theme;

    .link{
        color: red;
    }
    
    .title{
        color: black !important;
    }

    mat-dialog-actions button:disabled{
        color: grey !important;
        background-color: lightgrey !important;
    }

    .whiteThemeFix{
        color: white !important;
    }

    mat-card-header button {
        color: white !important;
    }

    mat-toolbar {
        color: white !important;
    }

    .mat-step-icon{
        color: white !important;
    }

    mat-slide-toggle label {
        color: white !important;
    }

    // @include angular-material-theme($my-theme);
    // @include mat.all-component-themes($my-theme);
    @include mat.all-component-colors($my-theme);
}
